* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, button, div, section, input {
  padding: 0;
  margin: 0;
}

button, a {
  cursor: pointer;
}

body {
  background-color: #F5F7FB;
  font-family: 'Karla', sans-serif;
  padding: 2rem;
  height: auto;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: auto;
  margin: auto;
}

#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#home > h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #293264;
  margin-bottom: 1rem;

}

#home > p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #293264;
  font-style: italic;
  margin-bottom: 2.5rem;

}

button {
  border: none;
  border-radius: 1rem;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: inset -4px -4px 2px 0 #1f2646;

}

button:hover {
  opacity: 85%;
}

button:active {
  box-shadow: 
  inset 3px 3px 0 0 #F5F7FB,
  inset -1px -1px 1px 0px #1f2646;
  padding-top: 3px;
}

.yellowBlob {
  background-image: url('./svg/yellowBlob.svg');
  background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
}

.blueBlob {
  background-image: url('./svg/blueBlob.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.question {
border-bottom: 2px solid #DBDEF0;
padding: 2rem;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.question:last-child {
  border-bottom: none;
}

.question > h3 {
  color: #293264;
  font-size: 1.75rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.answerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.answer {
  border: 1px solid #4D5B9E;
  min-width: 8rem;
  padding: .5rem .75rem;
  border-radius: 1rem;
  text-align: center;
  color: #293264;
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.answer.selected {
  background-color: #D6DBF5;
  ;
}

.answer.selected.wrong.show {
background-color: #F8BCBC;
}

.answer.selected.right.show {
 background-color: #94D7A2;

}

.answer:hover {
  outline: 2px solid #4D5B9E;
}

.questionContainer {
  margin-bottom: 1rem;
  width: 100%;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.finalScore {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

.finalScore > p {
  color: #293264;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;

}